<h1>Bonjour, veuillez confirmez votre email</h1>

<p>
    Finalisez votre inscription en cliquant sur le lien ci-dessous :<br><br>
    <a href="{{ signedUrl }}">Snow Tricks</a>.
    Ce lien expirera dans 1 heure.{# {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }} #}.
</p>

<p>
    À très vite sur Snow Tricks !
</p>
